body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 95;
    max-height: 95vh;
    background-color: darkslategrey;
    color: white;
}

h1 {
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px seagreen;
}